{% set attributes = attributes.addClass('site-branding') %}
  {% if site_logo or site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="navbar-brand d-flex align-items-center">
      {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-fluid d-inline-block align-top" />
      {% endif %}
      <div class="lh-1 ms-1 d-flex flex-column">
        <span class="fs-4 fw-bold text-white">{{ site_name }}</span>
        {% if site_slogan %}
          <div class="fs-5 fw-bold text-white d-flex flex-column d-inline-block align-top site-name-slogan">
            {{ site_slogan }}
          </div>
        {% endif %}
      </div>
    </a>
  {% endif %}
