<header class="h-0 p-0 container-xl d-none d-sm-block">
  <div class="position-absolute, w-100">
    <div class="container-xl">
      {{ page.header_top }}
    </div>
    <div class="header-fixed z-3 container-xl px-0">
    {{ page.header_bottom }}
    </div>
  </div>
</header>
<header class="d-block d-sm-none z-3 position-fixed w-100">
  {{ page.mobile_header_top }}
  {{ page.mobile_header_bottom }}
</header>
{{ page.content }}
<footer>
  <div class="container-xl">
    <div class="row py-5">
      <div class="col-md-4 col-12">
        {{ page.footer_branding }}
      </div>
      {{ page.footer_top }}
    </div>
    <div class="py-4">
      {{ page.footer_bottom }}
    </div>
  </div>
</footer>
